body {
  background-color: #fff;
  padding-top: 76px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  // // overflow: hidden;
  // // overflow-y: hidden; /*для вертикального*/
  // overflow-x: hidden; /*для горизонтального*/
}
.container {
  width: 1160px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #000;
}
a,
button {
  cursor: pointer;
}
.bg {
  background-image: url("../assert/svg/introBg.svg");
  width: 1338px;
  height: 1031px;
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 5px;
}
