.header {
  // position: relative;
  margin-bottom: 114px;
  // &::after {
  //   content: url("../assert/svg/infoBg.svg");
  //   position: absolute;
  //   height: 100px;
  //   width: 100%;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   z-index: -2;
  // }
  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.telegram {
  display: flex;
  gap: 14px;
  &__text {
    line-height: 22px;
    font-weight: 300;
  }
}
.logo {
  background-image: url("../assert/svg/logo.svg");
  width: 67px;
  height: 18px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
